@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-wrap js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-lg-6 ftco-animate">
                <div class="mt-5">
                    <h1 class="mb-4">Brindamos asesoramiento para proyectos de:</h1>
                    <p class="mb-4">Eléctrica</p>
                    <p class="mb-4">Electrónica</p>
                    <p class="mb-4">Mecánica</p>
                    <p class="mb-4">Imagínalo y nosotros lo hacemos posible.</p>
                    <p><a href="#OurServices" class="btn btn-primary">Nuestros Servicios</a> <a href="#" class="btn btn-white" data-toggle="modal" data-target="#exampleModalCenter">Solicite una cotización sin compromiso</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-services-2">
    <div class="container-fluid">
        <div class="row no-gutters d-flex">
            <div class="col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-flex">
                    <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-engineer-1"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading mb-3">Construcción de calidad</h3>
                        <p>Ingresar al mercado ecuatoriano, convirtiéndonos en una empresa competitiva y reconocida a nivel nacional, por la calidad de nuestro trabajo, tanto en el campo industrial como residencial.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services services-2 d-flex">
                    <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-worker-1"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading mb-3">Responsabilidad profesional</h3>
                        <p>Comprometidos con la excelencia, trabajamos para ofrecer un servicio profesional y altamente personalizado.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-flex">
                    <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-engineer"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading mb-3">Dedicados a nuestros clientes</h3>
                        <p>Expandir nuestra cartera de productos y servicios, brindando diferentes alternativas de solución que satisfaga las necesidades de clientes reales y potenciales.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section" id="about-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="about-wrap img w-100" style="background-image: url(images/about.jpg);">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-crane"></span></div>
                </div>
            </div>
            <div class="col-md-6 py-5 pl-md-5">
                <div class="row justify-content-center mb-4 pt-md-4">
                    <div class="col-md-12 heading-section ftco-animate">
                        <span class="subheading">Bienvenido a Saimec</span>
                        <h2 class="mb-4">Saimec una empresa que transforma las ideas del cliente en realidad</h2>
                        <div class="d-flex about">
                            <div class="icon"><span class="flaticon-hammer"></span></div>
                            <h3>Estamos en este negocio desde 2020 y proporcionamos los mejores servicios industriales.</h3>
                        </div>
                        <p>El sistema de videoportero IP de HIKVISION ofrece diversas funcionalidades para proteger tu hogar, negocio y familia.</p>
                        <div class="d-flex video-image align-items-center mt-md-4">
                            <p class="text-center mt-5">
                                <a href="#headerPopup" id="headerVideoLink" target="_blank" class="btn btn-outline-danger popup-modal">Ver video</a>
                            </p>
                            <div id="headerPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
                                <iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fsaimec.ec%2Fvideos%2F882719825705264%2F&show_text=false&width=476&t=0" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            </div>
                            @*<h4 class="ml-4">Así trabajamos con nuestros clientes, Ver vídeo.</h4>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-intro">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="img" style="background-image: url(images/bg_2.jpg);">
                    <div class="overlay"></div>
                    <h2>Prestación de servicios personalizados y de alta calidad</h2>
                    <p>Garantizamos la protección de tu casa con nuestro sistema de alarma</p>
                    <p class="mb-0"><a href="#LastsProyects" class="btn btn-primary px-4 py-3">Últimos Proyectos</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="OurServices" class="ftco-section bg-half-light">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Nuestros servicios</span>
                <h2 class="mb-4">Ofrecemos servicios</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="services-wrap ftco-animate">
                    <div class="img" style="background-image: url(images/services-1.jpg);"></div>
                    <div class="text">
                        <div class="icon"><span class="flaticon-architect"></span></div>
                        <h2>Proyectos de Ingeniería</h2>
                        <p>Ofrecemos los servicios de diseño e implementación de proyectos de ingeniería en las áreas de: automatización industrial, mecánica y eléctrica. Adicional, realizamos diseño, instalación y mantenimiento de sistemas eléctricos, HVAC, contra incendios, domótica, entre otros.</p>
                        <a href="#" class="btn-custom" style="display:none;">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-wrap ftco-animate">
                    <div class="img" style="background-image: url(images/services-2.jpg);"></div>
                    <div class="text">
                        <div class="icon"><span class="flaticon-worker"></span></div>
                        <h2>Venta de dispositivos de seguridad</h2>
                        <p>Cotice con nosotros los dispositivos de seguridad y materiales para instalación, necesarios para su proyecto. Asesoramiento personalizado de acuerdo a sus necesidades. Trabajamos con las mejores marcas del mercado: HIKVISION, HILOOK, TECLAM, TP-LINK, entre otros.</p>
                        <a href="#" class="btn-custom" style="display:none;"">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-wrap ftco-animate">
                    <div class="img" style="background-image: url(images/services-3.jpg);"></div>
                    <div class="text">
                        <div class="icon"><span class="flaticon-hammer"></span></div>
                        <h2>Instalación y mantenimiento de dispositivos de seguridad</h2>
                        <p>Proteja su hogar, su negocio y a los que más ama. Ofrecemos servicios de instalación y mantenimiento de sistemas de seguridad como: CCTV, cercas eléctricas, videoporteros y alarmas residenciales y comerciales. Cotice con nosotros. Asesoramiento personalizado de acuerdo a sus necesidades y presupuesto. Capacitación completa en la utilización de los sistemas instalados. Satisfacción garantizada.</p>
                        <a href="#" class="btn-custom" style="display: none;">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter">
    <div class="img image-overlay" style="background-image: url(images/about-3.jpg);"></div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-6 py-5 bg-secondary aside-stretch">
                <div class="heading-section heading-section-white p-4 pl-md-0 py-md-5 pr-md-5">
                    <span class="subheading">Somos una compañia que transforma las ideas del cliente en realidad.</span>
                    <h2 class="mb-4">Mejor proveedor de servicios industriales</h2>
                    <h4>Brindar soluciones tecnológicas, de calidad, en las áreas de eléctrica, electrónica, mecánica, automatización y seguridad, acordes a las necesidades de nuestros clientes, utilizando equipos y materiales de primera.</h4>
                    <p>SAIMEC es una empresa conformada por profesionales en las carreras de Ingeniería Electrónica, y técnicos especializados en la Automatización de procesos industriales de la cadena de producción.</p>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="row">
                    <div class="col-md-12 d-flex counter-wrap ftco-animate">
                        <div class="block-18 bg-primary d-flex align-items-center justify-content-between">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-engineer"></span></div>
                            <div class="text">
                                <strong class="number" data-number="48000">0</strong>
                                <span>Proyecto terminado</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex counter-wrap ftco-animate">
                        <div class="block-18 d-flex align-items-center justify-content-between">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-worker-1"></span></div>
                            <div class="text">
                                <strong class="number" data-number="54900">0</strong>
                                <span>Clientes satisfechos</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="LastsProyects" class="ftco-section">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Nuestras industrias de trabajo global</span>
                <h2 class="mb-4">Últimos proyectos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="project">
                    <a href="images/project-1.jpg" class="img image-popup d-flex align-items-center" style="background-image: url(images/project-1.jpg);">
                        <div class="icon d-flex align-items-center justify-content-center mb-5"><span class="fa fa-plus"></span></div>
                    </a>
                    <div class="text">
                        <span class="subheading">Clasificador de objetos por color, de 4 grados de libertad.</span>
                        <h3>Este brazo robótico permite clasificar cubos por color, utilizando algoritmos de inteligencia artificial</h3>
                        <p><span class="fa fa-map-marker mr-1"></span> Sangolquí, Pichincha, ECU</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project">
                    <a href="images/project-2.jpg" class="img image-popup d-flex align-items-center" style="background-image: url(images/project-2.jpg);">
                        <div class="icon d-flex align-items-center justify-content-center mb-5"><span class="fa fa-plus"></span></div>
                    </a>
                    <div class="text">
                        <span class="subheading">Practicando Electricidad</span>
                        <h3>Hablando de codigo de colores de capacitores</h3>
                        <p><span class="fa fa-map-marker mr-1"></span> Sangolquí, Pichincha, ECU</p>
                    </div>
                </div>
            </div>
            @*<div class="col-md-4" style="display:none;">
                <div class="project">
                    <a href="images/project-1.jpg" class="img image-popup d-flex align-items-center" style="background-image: url(images/project-1.jpg);">
                        <div class="icon d-flex align-items-center justify-content-center mb-5"><span class="fa fa-plus"></span></div>
                    </a>
                    <div class="text">
                        <span class="subheading">Building</span>
                        <h3>Building A Condominium</h3>
                        <p><span class="fa fa-map-marker mr-1"></span> Sangolquí, Pichincha, ECU</p>
                    </div>
                </div>
            </div>*@

            <div class="col-md-4">
                <div class="project">
                    <a href="images/project-3.jpg" class="img image-popup d-flex align-items-center" style="background-image: url(images/project-3.jpg);">
                        <div class="icon d-flex align-items-center justify-content-center mb-5"><span class="fa fa-plus"></span></div>
                    </a>
                    <div class="text">
                        <span class="subheading">Arduino</span>
                        <h3>Dispensador de desinfectante de manos sin contacto</h3>
                        <p><span class="fa fa-map-marker mr-1"></span> Sangolquí, Pichincha, ECU</p>
                    </div>
                </div>
            </div>
            @*<div class="col-md-4" style="display:none;">
                <div class="project">
                    <a href="images/project-1.jpg" class="img image-popup d-flex align-items-center" style="background-image: url(images/project-1.jpg);">
                        <div class="icon d-flex align-items-center justify-content-center mb-5"><span class="fa fa-plus"></span></div>
                    </a>
                    <div class="text">
                        <span class="subheading">Building</span>
                        <h3>Building A Condominium</h3>
                        <p><span class="fa fa-map-marker mr-1"></span> Sangolquí, Pichincha, ECU</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="display:none;">
                <div class="project">
                    <a href="images/project-1.jpg" class="img image-popup d-flex align-items-center" style="background-image: url(images/project-1.jpg);">
                        <div class="icon d-flex align-items-center justify-content-center mb-5"><span class="fa fa-plus"></span></div>
                    </a>
                    <div class="text">
                        <span class="subheading">Building</span>
                        <h3>Building A Condominium</h3>
                        <p><span class="fa fa-map-marker mr-1"></span> Sangolquí, Pichincha, ECU</p>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb testimony-section img" style="display:none;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-6 p-4 pl-md-0 py-md-5 pr-md-5 aside-stretch d-flex align-items-center">
                <div class="heading-section heading-section-white">
                    <span class="subheading" style="color:#fff;">Read Testimonials</span>
                    <h2 class="mb-4" style="font-size: 50px;">Siempre es una alegría escuchar que el trabajo que hacemos tiene críticas positivas</h2>
                </div>
            </div>
            <div class="col-md-6 pl-md-5 py-4 py-md-5 aside-stretch-right">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
                            <div class="user-img" style="background-image: url(images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
                                <p class="name">Jeff Freshman</p>
                                <span class="position">Guests</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
                            <div class="user-img" style="background-image: url(images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
                                <p class="name">Jeff Freshman</p>
                                <span class="position">Guests</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
                            <div class="user-img" style="background-image: url(images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
                                <p class="name">Jeff Freshman</p>
                                <span class="position">Guests</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
                            <div class="user-img" style="background-image: url(images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
                                <p class="name">Jeff Freshman</p>
                                <span class="position">Guests</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
                            <div class="user-img" style="background-image: url(images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
                                <p class="name">Jeff Freshman</p>
                                <span class="position">Guests</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light" style="display:none;">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Our Blog</span>
                <h2 class="mb-4">Latest Blog Updates</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-lg-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta">
                            <p>
                                <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 06, 2020</a>
                                <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                                <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                            </p>
                        </div>
                        <h3 class="heading"><a href="#">Best for any industrial &amp; business solution</a></h3>
                        <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta">
                            <p>
                                <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 06, 2020</a>
                                <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                                <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                            </p>
                        </div>
                        <h3 class="heading"><a href="#">Best for any industrial &amp; business solution</a></h3>
                        <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta">
                            <p>
                                <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 06, 2020</a>
                                <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                                <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                            </p>
                        </div>
                        <h3 class="heading"><a href="#">Best for any industrial &amp; business solution</a></h3>
                        <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
