@model SGVisitasTecnicasASPCore.Models.cotizaciones
@{
    ViewData["Title"] = "CotizacionReporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h4 class="text-center text-primary">Cotización por Servicios</h4>
<hr />

<form asp-controller="CotizacionReporte" asp-action="GenerateCotizacionReporte">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label asp-for="id_cliente" class="control-label">Cliente</label>
                    <div style="display: inherit;">
                        <select asp-for="id_cliente" class="form-control" asp-items="ViewBag.Clientes"></select>
                    </div>
                    @*<span asp-validation-for="id_cliente" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="id_cotizacion" class="control-label">Cotizaciones</label>
                    <div style="display: inherit;">
                        <select asp-for="id_cotizacion" class="form-control" asp-items="ViewBag.Cotizaciones"></select>
                    </div>
                    @*<span asp-validation-for="id_cotizacion" class="text-danger"></span>*@
                </div>
            </div>

            <div class="w-100">
                <div class="col-sm-12 col-md-12 text-center form-group">
                    <input type="submit" value="Generar PDF" class="col-md-5 btn btn-info" />
                    <a class="col-md-5 btn btn-secondary" asp-action="RedirectToIndex">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $("select#id_cliente").change(function () {
                var cid = $(this).val();

                $("select#id_cotizacion").empty();

                $.getJSON(`/CotizacionReporte/GetCtz?cid=${cid}`, function (data) {
                    //console.log(data);
                    $.each(data, function (i, item) {
                        $("select#id_cotizacion").append(`<option value="${item.id}">${item.name}</option>`);
                    });
                });
            })
        });

        //function openErrorModal(strMessage) {
        //    var myDiv = document.getElementById("MyModalErrorAlertBody");
        //    myDiv.innerHTML = strMessage;
        //    $('#myModalError').modal('show');
        //}
    </script>
}
@*<p>
        <a class="btn btn-primary" asp-controller="Reportes" asp-action="GenerateVisitasReporte">Generar Reporte de Visitas</a>
    </p>*@
