@model SGVisitasTecnicasASPCore.Models.empleados

@{
    ViewData["Title"] = "Editar Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
    <h4 class="text-center text-primary">Editar Empleado</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group" style="display:none">
                    <label asp-for="id_empleado" class="control-label">Código</label>
                    <input asp-for="id_empleado" class="form-control" />
                    <span asp-validation-for="id_empleado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="numero_documento" class="control-label">Número de Documento</label>
                    <input asp-for="numero_documento" min="0" maxlength="13" type="number" class="form-control" readonly />
                    <span asp-validation-for="numero_documento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="nombres" class="control-label">Nombres</label>
                    <input asp-for="nombres" class="form-control" />
                    <span asp-validation-for="nombres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="apellidos" class="control-label">Apellidos</label>
                    <input asp-for="apellidos" class="form-control" />
                    <span asp-validation-for="apellidos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fecha_registro" class="control-label">Fecha de Registro</label>
                    <input asp-for="fecha_registro" id="datepicker" type="text" class="form-control" value="@Model.fecha_registro.ToString("yyyy-MM-dd")" readonly />
                    <span asp-validation-for="fecha_registro" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="es_activo" /> Activo
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label asp-for="email" class="control-label">Email</label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="telefono" class="control-label">Teléfono</label>
                    <input asp-for="telefono" type="number" class="form-control" />
                    <span asp-validation-for="telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label">Password</label>
                    <input asp-for="password" type="text" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="perfil" class="control-label">Perfil</label>
                    <div style="display: inherit;">
                        @Html.DropDownListFor(model => model.perfil, new SelectList(Enum.GetValues(typeof(SGVisitasTecnicasASPCore.Models.empleados.Profile))), "Seleccione un perfil")
                    </div>
                    <span asp-validation-for="perfil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="cargo" class="control-label">Cargo</label>
                    <input asp-for="cargo" class="form-control" />
                    <span asp-validation-for="cargo" class="text-danger"></span>
                </div>
            </div>

            <div class="w-100">
                <div class="col-sm-12 col-md-12 text-center form-group">
                    <input type="submit" value="Guardar" class="col-md-5 btn btn-info" />
                    <a class="col-md-5 btn btn-secondary" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="~/lib/jquery/jquery-ui.css">
    <script src="~/lib/jquery/jquery-1.12.4.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}
